<mjml>
    <%- include('./common/head.ejs'); %>

    <mj-body background-color="#ffffff">
        <%- include('./common/header.ejs'); %>
        <mj-wrapper padding="10px 20px">
            <mj-section padding-top="0"
                        border="1px solid #DCDCDC"
                        border-left="1px solid #DCDCDC"
                        border-right="1px solid #DCDCDC">
                <mj-column>
                    <mj-text align="center"
                             font-weight="700"
                             font-size="28px"
                             line-height="28px"
                             padding-top="25px">
                        Bonjour <%= data.apprenti.prenom %>,<br>
                        comment s’est passé votre <br>examen de CAP ?
                    </mj-text>
                    <mj-text align="center"
                             font-weight="600">
                        Parlez-nous de votre expérience dans votre centre de formation pour aider les futurs apprentis!
                    </mj-text>

                    <mj-button inner-padding="10px 75px"
                               href="<%= utils.getPublicUrl(`/questionnaires/${data.questionnaire.token}`) %>">
                        <img alt="Icone boutton"
                             class="left"
                             src="<%= utils.getPublicUrl(`/images/email-link-icon.png`) %>"/>
                        C'est parti !
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section padding="0"
                        border-left="1px solid #DCDCDC"
                        border-right="1px solid #DCDCDC">
                <mj-column padding="0">
                    <mj-image align="center"
                              alt="Jeune apprenti qui regarde le ciel"
                              src="<%= utils.getPublicUrl(`/images/email-background.png`) %>"
                              padding="0"/>
                </mj-column>
            </mj-section>

            <mj-section
                    border-left="1px solid #DCDCDC"
                    border-right="1px solid #DCDCDC"
                    border-bottom="1px solid #DCDCDC">
                <mj-column vertical-align="middle">
                    <mj-text align="center" font-weight="100">
                        Vous avez suivi la formation de
                        <span class="highlight"><%= data.contrat.formation.intitule %> - <%= data.contrat.cfa.nom %></span>.
                        Des futurs apprentis souhaiteraient en savoir plus sur votre expérience dans cette formation.
                    </mj-text>

                    <mj-text align="center" padding="25px">
                        Votre avis sera publié sur
                        <a href="https://labonnealternance.pole-emploi.fr"
                           target="_blank"
                           class="link-nostyle">
                            <img width="120px"
                                 alt="Logo de La Bonne Alternance"
                                 class="icon right"
                                 src="<%= utils.getPublicUrl(`/images/lba-dark.png`) %>"/>
                        </a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <%- include('./common/footer.ejs'); %>
    </mj-body>

</mjml>
