<mjml>
    <%- include('./common/head.ejs'); %>

    <mj-body background-color="#ffffff">
        <%- include('./common/header.ejs'); %>
        <mj-wrapper padding="10px 20px">
            <mj-section padding-top="0">
                <mj-column>
                    <mj-text>
                        Bonjour,
                    </mj-text>
                    <mj-text>
                        Ce message s'adresse à <%= data.contrat.entreprise.tuteur.prenom %>
                        <%= data.contrat.entreprise.tuteur.nom %>.
                    </mj-text>
                    <mj-text>
                        Vous formez actuellement <span class="highlight"><%= data.apprenti.prenom %></span> en
                        apprentissage.
                    </mj-text>
                    <mj-text>
                        <span class="highlight">La Bonne Alternance</span> propose une nouveau service,
                        <span class="highlight">Sirius</span>, qui vise à éclairer les jeunes sur l’apprentissage grâce
                        aux avis des apprentis et des entreprises.
                    </mj-text>
                    <mj-text>
                        Ces avis seront diffusés anonymement sur :
                        <a href="https://labonnealternance.pole-emploi.fr/" class="link-nostyle">La Bonne
                            Alternance.fr</a>.
                    </mj-text>

                    <mj-button background-color="#EC615B" align="center" font-size="14px" line-height="23px"
                               padding="30px"
                               border-radius="13px" font-weight="600"
                               href="https://docs.google.com/forms/d/1j2OB40lWAn32lro2RNSUIwgAq3dw36_F4KGU_Ps9AeQ">
                        <img alt="Icone boutton" class="left"
                             src="<%= utils.getPublicUrl(`/images/email-link-icon.png`) %>"/>
                        Donnez votre avis en 2 minutes
                    </mj-button>

                </mj-column>
            </mj-section>
        </mj-wrapper>

        <%- include('./common/footer.ejs'); %>
    </mj-body>

</mjml>
