<mj-wrapper padding="10px 20px">
    <mj-section padding-top="0" border="1px solid #DCDCDC">
        <mj-column padding-top="0">

            <mj-text align="center" font-size="12px" line-height="20px">
                <a
                        href="<%= utils.getPublicUrl(`/questionnaires/${data.questionnaire.token}/previewEmail`) %>"
                        class="link-nostyle">
                    Voir cet email dans votre navigateur
                </a>
            </mj-text>

            <mj-text align="left" font-size="12px" line-height="20px">
                Le Ministère du Travail (DGEFP) traite vos données personnelles dans le cadre d’une mission d’intérêt
                public. Sirius est un service de l'État vise à améliorer l'information sur les CFA grâce à la
                publication
                des avis des apprentis en cours de formation ou ayant obtenu leur certification, ainsi que celui des
                entreprises. Ces questionnaires sont facultatifs et les réponses sont confidentielles.
            </mj-text>

            <mj-text align="left" font-size="12px" line-height="20px">
                Pour exercer vos droits d’accès, de rectification, de limitation, d’opposition ou pour toutes questions
                relatives au traitement de vos données personnelles vous pouvez contacter l’équipe SIRIUS :
                sirius@apprentissage.beta.gouv.fr ou par courrier postal, à l’adresse suivante : Ministères Sociaux –
                DGEFP
                – FIMOD MISI RGPD 14 avenue Duquesne, 75007, Paris. Pour plus d’information, consulter la page <a
                        href="https://mission-apprentissage.gitbook.io/general/la-mission-apprentissage/zoom-rgpd-et-traitement-des-donnees"
                        class="link-nostyle">« Protection des données »</a> et <a
                        href="https://app.gitbook.com/@mission-apprentissage/s/general/les-nouveaux-services/anotea-apprentissage"
                        class="link-nostyle">la page du projet</a>. Vous disposez d’un droit d'introduire une
                réclamation auprès de la Commission nationale de l’informatique et des libertés.
            </mj-text>

            <mj-text align="left" font-size="12px" line-height="20px">
                Vos données seront conservées pendant la durée de
                l’enquête, ou jusqu’à la révocation du
                consentement et au maximum 5 ans pour les apprentis ayant répondu au questionnaire.
            </mj-text>

            <mj-text align="left" font-size="12px" line-height="20px">
                Cet email a été envoyé à <%= email %>
                <br/>
                Vous avez reçu cet email parce que votre CFA nous a transmis votre email.
                <br/>
                Pour vous désinscrire,
                <a href="<%= unsubscribeLink %>" class="link-nostyle">cliquez ici</a>
            </mj-text>
        </mj-column>
    </mj-section>
</mj-wrapper>

<mj-section>
    <mj-column width="50%">
        <mj-image align="right" padding-right="0px" width="84px" alt="Logo Gouvernement"
                  src="<%= utils.getPublicUrl(`/images/gouv.png`) %>"/>
    </mj-column>
    <mj-column width="50%">
        <mj-image align="left" width="62px" alt="Logo Education Nationale"
                  src="<%= utils.getPublicUrl(`/images/educNat.png`) %>"/>
        <mj-image
                width="1px"
                alt="Pixel"
                src="<%= utils.getPublicUrl(`/api/questionnaires/${data.questionnaire.token}/markAsOpened`) %>"/>
    </mj-column>
</mj-section>

